body {
  background-image: url("../img/earth.jpg");
  background-size: cover;
}
.hidden {
  display: none;
}
.main_header {
  color: #F2F2F8;
}

.btn {
  padding: 10px;
  color: #F1F1F9;
  background-color: #666;
  margin-right: 8em;
  margin-top: 1em;
}
