body {
  background-image: url("../img/earth.jpg");
  background-size: 100%;
}
.hidden {
  display: none;
}
.all {
  font-size: 5em;
  font-variant: small-caps;
  text-align: center;
}
h3 {
  text-align: center;
}
.main_header {
  color: #F2F2F8;
}
.bar {
  width: 95%;
  margin-right: 2.5%;
}
.main_btn {
  padding: 10px;
  color: #F1F1F9;
  background-color: #666;
  margin-right: 8em;
  margin-top: 1em;
}
#main_container {
  width: 50%;
  margin-right: 25%;
}
#content {
  width: 70%;
  margin-right: 15%;
}
.well {
  background-color: rgba(200, 200, 200, 0.5);
}
.ping {
  font-size: 1.5em;
}
.pong {
  font-size: 1.5em;
}
.pingpong  {
  font-size: 1.5em;
}
.number  {
  font-size: 1.5em;
}
.insanity_mode {
  color: red;
  background-color: #1111A9;
  font-size: 1.4em;
  font-style: italic;
  text-shadow: -30px 60px 60px purple,
                20px 40px 40px green,
                20px 90px 40px yellow,
                20px -130px 40px orange;
  margin: 0;
  padding 0;
  width: 50%;
  display: inline;
}
